/* @import url('https://fonts.googleapis.com/css2?family=Alice&display=swap'); */
*{
    margin: 0%;
    padding: 0%;
    background-color: white;
}

.logo-main{
    float: left;
}

.logo-img{
    margin-top:2%;
    margin-left: 1.5%;
    float: left;
}
.logo-text {
    float: left;
    margin-top: 4%;
    margin-left: 0%;
    font-size: larger;
    font-family: 'Alice', serif;
}
/* .logo-main::after {
    display: block;
    content: "";
    clear: both;
} */
.name-of-logo{
    float: left;
    margin-top: 25px;
}
.logo-main {
    float: left;
    width: 22%;
}
.nav-main{
    float: right;
    width: 78%;
    margin-top: 25px;
}
Nav.link{
    text-decoration: none;
    color: black;
    text-shadow: 5px;
}