/* @import url('https://fonts.googleapis.com/css2?family=Alice&display=swap'); */
*{
    margin: 0%;
    padding: 0%;
    background-color: white;
}
.nav-main{
    display: inline;
    /* float: left; */
    align-items: center;
}
.nav-left{
    /* width: 20%; */
    float: left;
}
.nav-right {
    float: right;
    width: 50%;
}

.nav-list {
    list-style: none;
    /* display: ; */
    display: flex;
    float: left;
    /* margin-top: 2%; */
    /* margin-left: 50px; */
    /* margin-right: 5px; */
}
.nav-ele {
    margin-left:60px;
    margin-top: 4%;
    font-size: larger;
    font-weight: 700;
    cursor: pointer;
}
.nav-ele :hover {
    text-decoration: underline;
}

